@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;500;700&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

*:focus {
  outline: none; }

html,
body {
  height: 100%; }

html {
  /* Root font size, defines what 1rem is */
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

::-webkit-scrollbar {
  width: 8px;
  height: 8px; }

::-webkit-scrollbar-track {
  background-color: transparent;
  -webkit-border-radius: 10px;
  border-radius: 10px; }

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background-color: #c0c0c0; }

body {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 1.6rem; }

.heading-primary {
  font-size: 4rem;
  color: #e9eaea;
  margin-bottom: 2rem; }

.heading-tertiary {
  color: #e9eaea;
  font-size: 2.4rem; }

@font-face {
  font-family: "FS Albert";
  src: url("../../fonts/../../fonts/FSAlbert.eot");
  src: url("../../fonts/FSAlbert.eot?#iefix") format("embedded-opentype"), url("../../fonts/FSAlbert.woff2") format("woff2"), url("../../fonts/FSAlbert.woff") format("woff"), url("../../fonts/FSAlbert.ttf") format("truetype"), url("../../fonts/FSAlbert.svg#FSAlbert") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: "FS Albert";
  src: url("../../fonts/FSAlbert-Bold.eot");
  src: url("../../fonts/FSAlbert-Bold.eot?#iefix") format("embedded-opentype"), url("../../fonts/FSAlbert-Bold.woff2") format("woff2"), url("../../fonts/FSAlbert-Bold.woff") format("woff"), url("../../fonts/FSAlbert-Bold.ttf") format("truetype"), url("../../fonts/FSAlbert-Bold.svg#FSAlbert-Bold") format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: "FS Albert";
  src: url("../../fonts/FSAlbert-BoldItalic.eot");
  src: url("../../fonts/FSAlbert-BoldItalic.eot?#iefix") format("embedded-opentype"), url("../../fonts/FSAlbert-BoldItalic.woff2") format("woff2"), url("../../fonts/FSAlbert-BoldItalic.woff") format("woff"), url("../../fonts/FSAlbert-BoldItalic.ttf") format("truetype"), url("../../fonts/FSAlbert-BoldItalic.svg#FSAlbert-BoldItalic") format("svg");
  font-weight: bold;
  font-style: italic;
  font-display: swap; }

@font-face {
  font-family: "FS Albert";
  src: url("../../fonts/FSAlbert-Thin.eot");
  src: url("../../fonts/FSAlbert-Thin.eot?#iefix") format("embedded-opentype"), url("../../fonts/FSAlbert-Thin.woff2") format("woff2"), url("../../fonts/FSAlbert-Thin.woff") format("woff"), url("../../fonts/FSAlbert-Thin.ttf") format("truetype"), url("../../fonts/FSAlbert-Thin.svg#FSAlbert-Thin") format("svg");
  font-weight: 100;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: "FS Albert";
  src: url("../../fonts/FSAlbert-Italic.eot");
  src: url("../../fonts/FSAlbert-Italic.eot?#iefix") format("embedded-opentype"), url("../../fonts/FSAlbert-Italic.woff2") format("woff2"), url("../../fonts/FSAlbert-Italic.woff") format("woff"), url("../../fonts/FSAlbert-Italic.ttf") format("truetype"), url("../../fonts/FSAlbert-Italic.svg#FSAlbert-Italic") format("svg");
  font-weight: normal;
  font-style: italic;
  font-display: swap; }

@font-face {
  font-family: "FS Albert";
  src: url("../../fonts/FSAlbert-ThinItalic.eot");
  src: url("../../fonts/FSAlbert-ThinItalic.eot?#iefix") format("embedded-opentype"), url("../../fonts/FSAlbert-ThinItalic.woff2") format("woff2"), url("../../fonts/FSAlbert-ThinItalic.woff") format("woff"), url("../../fonts/FSAlbert-ThinItalic.ttf") format("truetype"), url("../../fonts/FSAlbert-ThinItalic.svg#FSAlbert-ThinItalic") format("svg");
  font-weight: 100;
  font-style: italic;
  font-display: swap; }

@font-face {
  font-family: "FS Albert";
  src: url("../../fonts/FSAlbert-LightItalic.eot");
  src: url("../../fonts/FSAlbert-LightItalic.eot?#iefix") format("embedded-opentype"), url("../../fonts/FSAlbert-LightItalic.woff2") format("woff2"), url("../../fonts/FSAlbert-LightItalic.woff") format("woff"), url("../../fonts/FSAlbert-LightItalic.ttf") format("truetype"), url("../../fonts/FSAlbert-LightItalic.svg#FSAlbert-LightItalic") format("svg");
  font-weight: 300;
  font-style: italic;
  font-display: swap; }

@font-face {
  font-family: "FS Albert";
  src: url("../../fonts/FSAlbert-Light.eot");
  src: url("../../fonts/FSAlbert-Light.eot?#iefix") format("embedded-opentype"), url("../../fonts/FSAlbert-Light.woff2") format("woff2"), url("../../fonts/FSAlbert-Light.woff") format("woff"), url("../../fonts/FSAlbert-Light.ttf") format("truetype"), url("../../fonts/FSAlbert-Light.svg#FSAlbert-Light") format("svg");
  font-weight: 300;
  font-style: normal;
  font-display: swap; }

.btn-add {
  display: flex;
  align-items: center; }
  .btn-add__icon {
    color: #cddc39;
    margin-top: 0.5rem;
    margin-left: 0.6rem; }

.container {
  height: 100%;
  width: 100%; }

.content {
  background-color: #1c1e21;
  height: 100%;
  padding: 3rem 8rem; }

.learning__left {
  width: 60%; }

.learning__right {
  width: 40%; }

.learning__quote {
  color: #b4b4b6; }

.learning__courses {
  margin-top: 4rem; }
