@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;500;700&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

*:focus {
  outline: none; }

html,
body {
  height: 100%; }

html {
  /* Root font size, defines what 1rem is */
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

::-webkit-scrollbar {
  width: 8px;
  height: 8px; }

::-webkit-scrollbar-track {
  background-color: transparent;
  -webkit-border-radius: 10px;
  border-radius: 10px; }

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background-color: #414346; }

body {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 1.6rem;
  color: #b4b4b6; }

.heading-primary {
  font-size: 4rem;
  color: #e9eaea;
  margin-bottom: 2rem; }

.heading-secondary {
  color: #e9eaea;
  font-size: 2.4rem; }

.heading-tertiary {
  color: #e9eaea;
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 2rem; }

@font-face {
  font-family: "FS Albert";
  src: url("../../fonts/../../fonts/FSAlbert.eot");
  src: url("../../fonts/FSAlbert.eot?#iefix") format("embedded-opentype"), url("../../fonts/FSAlbert.woff2") format("woff2"), url("../../fonts/FSAlbert.woff") format("woff"), url("../../fonts/FSAlbert.ttf") format("truetype"), url("../../fonts/FSAlbert.svg#FSAlbert") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: "FS Albert";
  src: url("../../fonts/FSAlbert-Bold.eot");
  src: url("../../fonts/FSAlbert-Bold.eot?#iefix") format("embedded-opentype"), url("../../fonts/FSAlbert-Bold.woff2") format("woff2"), url("../../fonts/FSAlbert-Bold.woff") format("woff"), url("../../fonts/FSAlbert-Bold.ttf") format("truetype"), url("../../fonts/FSAlbert-Bold.svg#FSAlbert-Bold") format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: "FS Albert";
  src: url("../../fonts/FSAlbert-BoldItalic.eot");
  src: url("../../fonts/FSAlbert-BoldItalic.eot?#iefix") format("embedded-opentype"), url("../../fonts/FSAlbert-BoldItalic.woff2") format("woff2"), url("../../fonts/FSAlbert-BoldItalic.woff") format("woff"), url("../../fonts/FSAlbert-BoldItalic.ttf") format("truetype"), url("../../fonts/FSAlbert-BoldItalic.svg#FSAlbert-BoldItalic") format("svg");
  font-weight: bold;
  font-style: italic;
  font-display: swap; }

@font-face {
  font-family: "FS Albert";
  src: url("../../fonts/FSAlbert-Thin.eot");
  src: url("../../fonts/FSAlbert-Thin.eot?#iefix") format("embedded-opentype"), url("../../fonts/FSAlbert-Thin.woff2") format("woff2"), url("../../fonts/FSAlbert-Thin.woff") format("woff"), url("../../fonts/FSAlbert-Thin.ttf") format("truetype"), url("../../fonts/FSAlbert-Thin.svg#FSAlbert-Thin") format("svg");
  font-weight: 100;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: "FS Albert";
  src: url("../../fonts/FSAlbert-Italic.eot");
  src: url("../../fonts/FSAlbert-Italic.eot?#iefix") format("embedded-opentype"), url("../../fonts/FSAlbert-Italic.woff2") format("woff2"), url("../../fonts/FSAlbert-Italic.woff") format("woff"), url("../../fonts/FSAlbert-Italic.ttf") format("truetype"), url("../../fonts/FSAlbert-Italic.svg#FSAlbert-Italic") format("svg");
  font-weight: normal;
  font-style: italic;
  font-display: swap; }

@font-face {
  font-family: "FS Albert";
  src: url("../../fonts/FSAlbert-ThinItalic.eot");
  src: url("../../fonts/FSAlbert-ThinItalic.eot?#iefix") format("embedded-opentype"), url("../../fonts/FSAlbert-ThinItalic.woff2") format("woff2"), url("../../fonts/FSAlbert-ThinItalic.woff") format("woff"), url("../../fonts/FSAlbert-ThinItalic.ttf") format("truetype"), url("../../fonts/FSAlbert-ThinItalic.svg#FSAlbert-ThinItalic") format("svg");
  font-weight: 100;
  font-style: italic;
  font-display: swap; }

@font-face {
  font-family: "FS Albert";
  src: url("../../fonts/FSAlbert-LightItalic.eot");
  src: url("../../fonts/FSAlbert-LightItalic.eot?#iefix") format("embedded-opentype"), url("../../fonts/FSAlbert-LightItalic.woff2") format("woff2"), url("../../fonts/FSAlbert-LightItalic.woff") format("woff"), url("../../fonts/FSAlbert-LightItalic.ttf") format("truetype"), url("../../fonts/FSAlbert-LightItalic.svg#FSAlbert-LightItalic") format("svg");
  font-weight: 300;
  font-style: italic;
  font-display: swap; }

@font-face {
  font-family: "FS Albert";
  src: url("../../fonts/FSAlbert-Light.eot");
  src: url("../../fonts/FSAlbert-Light.eot?#iefix") format("embedded-opentype"), url("../../fonts/FSAlbert-Light.woff2") format("woff2"), url("../../fonts/FSAlbert-Light.woff") format("woff"), url("../../fonts/FSAlbert-Light.ttf") format("truetype"), url("../../fonts/FSAlbert-Light.svg#FSAlbert-Light") format("svg");
  font-weight: 300;
  font-style: normal;
  font-display: swap; }

.btn-add {
  display: flex;
  align-items: center; }
  .btn-add__icon {
    color: #cddc39;
    margin-top: 0.5rem;
    margin-left: 0.6rem; }

.card__button {
  color: #cddc39;
  border: none;
  background-color: transparent;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: all 0.3s;
  padding: 0.6rem 1.5rem; }
  .card__button:hover {
    background-color: #414346; }

.card__bottom {
  display: flex;
  justify-content: flex-end;
  padding: 0 0 1.5rem 0; }

.course-card {
  display: flex;
  height: 8rem;
  width: calc(50% - 3rem);
  position: relative;
  margin-right: 1.5rem;
  margin-bottom: 1.5rem; }
  .course-card__img {
    object-fit: cover;
    background-color: #b4b4b6;
    height: 8rem;
    width: 8rem; }
  .course-card__content {
    background-color: #27292d;
    padding: 0.6rem 3rem 0.5rem 1.5rem;
    width: calc(100% - 8rem); }
  .course-card__options {
    color: #b4b4b6;
    font-weight: 700;
    position: absolute;
    right: 1rem;
    top: -0.2rem;
    margin: 0;
    cursor: pointer; }
  .course-card__title {
    font-size: 1.4rem;
    font-weight: 500;
    color: #cddc39;
    margin-bottom: 0.5rem; }
  .course-card__subtitle {
    font-size: 1.3rem;
    margin-bottom: 0.6rem; }
  .course-card__date {
    font-size: 1.2rem; }
  .course-card__popover {
    z-index: 2;
    background-color: #27292d;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    position: absolute;
    top: -0.2rem;
    right: -3rem; }
    .course-card__popover-item {
      padding: 0.6rem 2rem;
      transition: all 0.3s;
      font-size: 1.4rem;
      cursor: pointer; }
      .course-card__popover-item:hover {
        background-color: rgba(233, 234, 234, 0.1); }
  .course-card__list-bottom {
    font-size: 1.4rem;
    color: #cddc39;
    font-weight: 500; }

.job-card {
  background-color: #27292d;
  width: 32rem;
  height: 31rem; }
  .job-card__img {
    height: 14rem;
    width: 100%;
    object-fit: cover;
    background-color: #414346; }
  .job-card__title {
    font-weight: 500;
    color: #e9eaea;
    margin-bottom: 1rem; }
  .job-card__content {
    padding: 1rem 2rem; }
  .job-card__item, .job-card__item--icon {
    font-size: 1.4rem;
    margin-bottom: 0.5rem; }
    .job-card__item--icon {
      display: flex;
      align-items: center; }
      .job-card__item--icon span {
        font-size: 1.5rem;
        margin-right: 0.4rem; }
  .job-card__button {
    margin-right: 3rem; }

.container {
  height: 100%;
  width: 100%; }

.content {
  background-color: #1c1e21;
  height: 100%;
  overflow-y: auto; }

.learning {
  display: flex; }
  .learning__left {
    width: 60%;
    padding: 3rem 1rem 0 8rem;
    margin-bottom: 5rem;
    height: fit-content; }
  .learning__quote {
    color: #b4b4b6;
    max-width: 80%; }
  .learning__courses {
    margin-top: 4rem; }
    .learning__courses-cards {
      display: flex;
      flex-wrap: wrap; }
  .learning__section {
    margin-top: 2rem; }
  .learning__jobs {
    margin-top: 5rem; }
    .learning__jobs-cards {
      margin-top: 3rem; }
  .learning__right {
    width: 40%;
    height: 100%;
    box-shadow: -4px 4px 4px rgba(0, 0, 0, 0.25);
    position: sticky;
    top: 0; }
