@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;500;700&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

*:focus {
  outline: none; }

html,
body {
  height: 100%; }

html {
  /* Root font size, defines what 1rem is */
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

::-webkit-scrollbar {
  width: 8px;
  height: 8px; }

::-webkit-scrollbar-track {
  background-color: transparent;
  -webkit-border-radius: 10px;
  border-radius: 10px; }

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background-color: #414346; }

body {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 1.6rem;
  color: #b4b4b6; }

.heading-primary {
  font-size: 4rem;
  color: #e9eaea;
  margin-bottom: 2rem; }

.heading-secondary {
  color: #e9eaea;
  font-size: 2.4rem;
  font-weight: 500; }

.heading-tertiary {
  color: #e9eaea;
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 2rem; }

@font-face {
  font-family: "FS Albert";
  src: url("../../fonts/../../fonts/FSAlbert.eot");
  src: url("../../fonts/FSAlbert.eot?#iefix") format("embedded-opentype"), url("../../fonts/FSAlbert.woff2") format("woff2"), url("../../fonts/FSAlbert.woff") format("woff"), url("../../fonts/FSAlbert.ttf") format("truetype"), url("../../fonts/FSAlbert.svg#FSAlbert") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: "FS Albert";
  src: url("../../fonts/FSAlbert-Bold.eot");
  src: url("../../fonts/FSAlbert-Bold.eot?#iefix") format("embedded-opentype"), url("../../fonts/FSAlbert-Bold.woff2") format("woff2"), url("../../fonts/FSAlbert-Bold.woff") format("woff"), url("../../fonts/FSAlbert-Bold.ttf") format("truetype"), url("../../fonts/FSAlbert-Bold.svg#FSAlbert-Bold") format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: "FS Albert";
  src: url("../../fonts/FSAlbert-BoldItalic.eot");
  src: url("../../fonts/FSAlbert-BoldItalic.eot?#iefix") format("embedded-opentype"), url("../../fonts/FSAlbert-BoldItalic.woff2") format("woff2"), url("../../fonts/FSAlbert-BoldItalic.woff") format("woff"), url("../../fonts/FSAlbert-BoldItalic.ttf") format("truetype"), url("../../fonts/FSAlbert-BoldItalic.svg#FSAlbert-BoldItalic") format("svg");
  font-weight: bold;
  font-style: italic;
  font-display: swap; }

@font-face {
  font-family: "FS Albert";
  src: url("../../fonts/FSAlbert-Thin.eot");
  src: url("../../fonts/FSAlbert-Thin.eot?#iefix") format("embedded-opentype"), url("../../fonts/FSAlbert-Thin.woff2") format("woff2"), url("../../fonts/FSAlbert-Thin.woff") format("woff"), url("../../fonts/FSAlbert-Thin.ttf") format("truetype"), url("../../fonts/FSAlbert-Thin.svg#FSAlbert-Thin") format("svg");
  font-weight: 100;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: "FS Albert";
  src: url("../../fonts/FSAlbert-Italic.eot");
  src: url("../../fonts/FSAlbert-Italic.eot?#iefix") format("embedded-opentype"), url("../../fonts/FSAlbert-Italic.woff2") format("woff2"), url("../../fonts/FSAlbert-Italic.woff") format("woff"), url("../../fonts/FSAlbert-Italic.ttf") format("truetype"), url("../../fonts/FSAlbert-Italic.svg#FSAlbert-Italic") format("svg");
  font-weight: normal;
  font-style: italic;
  font-display: swap; }

@font-face {
  font-family: "FS Albert";
  src: url("../../fonts/FSAlbert-ThinItalic.eot");
  src: url("../../fonts/FSAlbert-ThinItalic.eot?#iefix") format("embedded-opentype"), url("../../fonts/FSAlbert-ThinItalic.woff2") format("woff2"), url("../../fonts/FSAlbert-ThinItalic.woff") format("woff"), url("../../fonts/FSAlbert-ThinItalic.ttf") format("truetype"), url("../../fonts/FSAlbert-ThinItalic.svg#FSAlbert-ThinItalic") format("svg");
  font-weight: 100;
  font-style: italic;
  font-display: swap; }

@font-face {
  font-family: "FS Albert";
  src: url("../../fonts/FSAlbert-LightItalic.eot");
  src: url("../../fonts/FSAlbert-LightItalic.eot?#iefix") format("embedded-opentype"), url("../../fonts/FSAlbert-LightItalic.woff2") format("woff2"), url("../../fonts/FSAlbert-LightItalic.woff") format("woff"), url("../../fonts/FSAlbert-LightItalic.ttf") format("truetype"), url("../../fonts/FSAlbert-LightItalic.svg#FSAlbert-LightItalic") format("svg");
  font-weight: 300;
  font-style: italic;
  font-display: swap; }

@font-face {
  font-family: "FS Albert";
  src: url("../../fonts/FSAlbert-Light.eot");
  src: url("../../fonts/FSAlbert-Light.eot?#iefix") format("embedded-opentype"), url("../../fonts/FSAlbert-Light.woff2") format("woff2"), url("../../fonts/FSAlbert-Light.woff") format("woff"), url("../../fonts/FSAlbert-Light.ttf") format("truetype"), url("../../fonts/FSAlbert-Light.svg#FSAlbert-Light") format("svg");
  font-weight: 300;
  font-style: normal;
  font-display: swap; }

.btn-add {
  display: flex;
  align-items: center; }
  .btn-add__icon {
    color: #cddc39;
    margin-top: 0.5rem;
    margin-left: 0.6rem; }

.card__button {
  color: #cddc39;
  border: none;
  background-color: transparent;
  font-family: inherit;
  font-size: 1.5rem;
  cursor: pointer;
  transition: all 0.3s;
  padding: 0.6rem 1.5rem; }
  .card__button:hover {
    background-color: #414346; }

.card__bottom {
  display: flex;
  justify-content: flex-end;
  padding: 0 0 1.5rem 0; }

.course-card {
  display: flex;
  height: 8rem;
  width: calc(50% - 3rem);
  position: relative;
  margin-right: 2rem;
  margin-bottom: 1.5rem; }
  .course-card__img {
    object-fit: cover;
    background-color: #b4b4b6;
    height: 8rem;
    width: 8rem; }
  .course-card__content {
    background-color: #27292d;
    padding: 0.6rem 3rem 0.5rem 1.5rem;
    width: calc(100% - 8rem); }
  .course-card__options {
    color: #b4b4b6;
    font-weight: 700;
    position: absolute;
    right: 1rem;
    top: -0.2rem;
    margin: 0;
    cursor: pointer; }
  .course-card__title {
    font-size: 1.4rem;
    font-weight: 500;
    color: #cddc39;
    margin-bottom: 0.5rem; }
  .course-card__subtitle {
    font-size: 1.3rem;
    margin-bottom: 0.6rem; }
  .course-card__date {
    font-size: 1.2rem; }
  .course-card__popover {
    z-index: 2;
    background-color: #27292d;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    position: absolute;
    top: -0.2rem;
    right: -3rem; }
    .course-card__popover-item {
      padding: 0.6rem 2rem;
      transition: all 0.3s;
      font-size: 1.4rem;
      cursor: pointer; }
      .course-card__popover-item:hover {
        background-color: rgba(233, 234, 234, 0.1); }
  .course-card__list-bottom {
    font-size: 1.4rem;
    color: #cddc39;
    font-weight: 500; }

.job-card {
  background-color: #27292d;
  width: 32rem;
  height: 31rem; }
  .job-card__img {
    height: 14rem;
    width: 100%;
    object-fit: cover;
    background-color: #414346; }
  .job-card__title {
    font-weight: 500;
    color: #e9eaea;
    margin-bottom: 1rem; }
  .job-card__content {
    padding: 1rem 2rem; }
  .job-card__item, .job-card__item--icon {
    font-size: 1.4rem;
    margin-bottom: 0.5rem; }
    .job-card__item--icon {
      display: flex;
      align-items: center; }
      .job-card__item--icon span {
        font-size: 1.5rem;
        margin-right: 0.4rem; }
  .job-card__button {
    margin-right: 3rem; }

.suggested-course-card {
  min-width: 25rem;
  width: 25rem;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background-color: #27292d;
  position: relative;
  margin-right: 2rem; }
  .suggested-course-card__img {
    height: 12rem;
    width: 100%;
    background-color: #414346;
    object-fit: cover; }
    .suggested-course-card__img--sm {
      height: 3.5rem;
      width: 8rem;
      background-color: white;
      position: absolute;
      right: 0;
      top: 42%;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); }
  .suggested-course-card__content {
    padding: 1.8rem 1.8rem 2rem 1.8rem; }
  .suggested-course-card__title {
    color: #e9eaea;
    font-size: 1.5rem;
    text-overflow: ellipsis;
    overflow: hidden; }
  .suggested-course-card__subtitle {
    font-size: 1.3rem; }
  .suggested-course-card__bottom {
    position: absolute;
    bottom: 0;
    right: 1rem; }

.overview-card {
  height: 20rem;
  min-width: 25rem;
  width: 25rem;
  margin-right: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 1rem 2rem;
  background-image: linear-gradient(to top, #27292d 20%, rgba(39, 41, 45, 0.5) 60%, transparent), url("https://www.linuxadictos.com/wp-content/uploads/kubernetes-logo.jpg");
  background-size: cover;
  background-position: center center; }
  .overview-card__title {
    font-size: 1.4rem;
    color: #e9eaea; }
  .overview-card__subtitle {
    font-size: 1.3rem;
    color: #e9eaea; }
  .overview-card__text {
    font-size: 1.2rem;
    color: #cddc39; }

.container {
  height: 100%;
  width: 100%; }

.content {
  background-color: #1c1e21;
  height: 100%;
  overflow-y: auto; }

.learning {
  display: flex; }
  .learning__left {
    width: 62%;
    padding: 3rem 1rem 0 8rem;
    margin-bottom: 5rem;
    height: max-content; }
  .learning__quote {
    color: #b4b4b6;
    max-width: 80%; }
  .learning__courses {
    margin-top: 4rem; }
    .learning__courses-cards {
      display: flex;
      flex-wrap: wrap; }
  .learning__section {
    margin-top: 2rem; }
  .learning__jobs {
    margin-top: 5rem; }
    .learning__jobs-cards {
      margin-top: 3rem; }
  .learning__right {
    width: 38%;
    height: max-content;
    align-self: stretch;
    box-shadow: -4px 4px 4px rgba(0, 0, 0, 0.25); }
  .learning__card {
    display: flex;
    align-items: center;
    padding: 1rem 6rem 1rem 3rem;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); }
    .learning__card-img {
      height: 8rem;
      width: 8rem;
      border-radius: 50%;
      background-color: #414346;
      margin-right: 2rem;
      clip-path: polygon(45% 1.33975%, 46.5798% 0.60307%, 48.26352% 0.15192%, 50% 0, 51.73648% 0.15192%, 53.4202% 0.60307%, 55% 1.33975%, 89.64102% 21.33975%, 91.06889% 22.33956%, 92.30146% 23.57212%, 93.30127% 25%, 94.03794% 26.5798%, 94.48909% 28.26352%, 94.64102% 30%, 94.64102% 70%, 94.48909% 71.73648%, 94.03794% 73.4202%, 93.30127% 75%, 92.30146% 76.42788%, 91.06889% 77.66044%, 89.64102% 78.66025%, 55% 98.66025%, 53.4202% 99.39693%, 51.73648% 99.84808%, 50% 100%, 48.26352% 99.84808%, 46.5798% 99.39693%, 45% 98.66025%, 10.35898% 78.66025%, 8.93111% 77.66044%, 7.69854% 76.42788%, 6.69873% 75%, 5.96206% 73.4202%, 5.51091% 71.73648%, 5.35898% 70%, 5.35898% 30%, 5.51091% 28.26352%, 5.96206% 26.5798%, 6.69873% 25%, 7.69854% 23.57212%, 8.93111% 22.33956%, 10.35898% 21.33975%); }
    .learning__card-content {
      width: calc(100% - 8rem); }
    .learning__card-header-wrap {
      margin-top: 1.6rem;
      display: flex;
      justify-content: space-between; }
    .learning__card-next-level {
      color: #e9eaea;
      font-size: 1.4rem; }
      .learning__card-next-level--primary {
        font-size: 1.4rem;
        color: #cddc39;
        font-weight: 500; }
    .learning__card-level {
      font-size: 1.3rem;
      margin-right: 1rem; }
      .learning__card-level-wrap {
        display: flex;
        align-items: center;
        position: relative; }
        .learning__card-level-wrap span {
          font-size: 1.8rem;
          color: #414346; }
        .learning__card-level-wrap:hover .learning__card-level-info {
          display: block; }
      .learning__card-level-info {
        position: absolute;
        right: -25rem;
        top: -1rem;
        background-color: rgba(39, 41, 45, 0.9);
        font-size: 1.2rem;
        width: 29rem;
        padding: 1rem 1.5rem 1.5rem 1.5rem;
        display: none; }
    .learning__card-progress {
      background-color: #27292d;
      height: 1rem;
      width: 60%;
      margin-top: 1.5rem; }
      .learning__card-progress-bar {
        background-color: #cddc39;
        height: 100%;
        width: 20%; }
    .learning__card-hours {
      font-size: 1.2rem;
      margin: 1rem 0 1rem 0; }
  .learning__suggested {
    padding: 3rem 4rem;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); }
    .learning__suggested-subtitle, .learning__overview-subtitle {
      font-size: 1.4rem;
      margin-top: 1rem; }
    .learning__suggested-cards {
      margin-top: 2.5rem;
      display: flex;
      overflow-x: hidden; }
      .learning__suggested-cards:hover {
        overflow-x: auto; }
  .learning__overview {
    padding: 3rem 4rem; }
    .learning__overview-cards {
      margin-top: 2rem;
      display: flex;
      overflow-x: hidden; }
      .learning__overview-cards:hover {
        overflow-x: auto; }
